<a href="https://colab.research.google.com/github/nxnatnat/H8_3/blob/main/Pertemuan_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction Python

# Integers

In [ ]:
print(12341234)

12341234

In [ ]:
print(123123123123 + 1)

123123123124

In [ ]:
print(type(10))
print(10)

<class 'int'>
10

# Float

In [ ]:
print(4.2)
print(type(4.2))

4.2
<class 'float'>

In [ ]:
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.0
0.2
4000000.0
0.00042

# String

In [ ]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [ ]:
print('')

In [ ]:
print("This string contains a single quote ('') character.")
print('This string contains a double qoute ("") character.')

This string contains a single quote ('') character.
This string contains a double qoute ("") character.

# Boolean Type, Boolean Context, and "Truthiness"

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# Variabel Assignment

In [ ]:
n = 300

In [ ]:
print(n)

300

In [ ]:
n = 100

In [ ]:
n

100

In [ ]:
a = b = c = 300
print(a,b,c)

300 300 300

# Variabel Types in Python

In [ ]:
var = 23.5
print(var)

23.5

In [ ]:
var = "Now I'm a string"
print (var)

Now I'm a string

In [ ]:
var

"Now I'm a string"

In [ ]:
var = 23.5
print(var)

var = "Now I'm a string"
print (var)

23.5
Now I'm a string

# Variable Names

In [ ]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [ ]:
#nama variabel tidak boleh dimulai dengan angka:
9_kepala_naga = True

SyntaxError: invalid decimal literal (753048216.py, line 2)

In [ ]:
huruf kecil dan huruf besar tidak sama. penggunaan karakter garis bawah juga penting

age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, a_g_e, _age, age_, _AGE_)

SyntaxError: invalid syntax (905835994.py, line 1)

# Operators and Expressions in Python

In [ ]:
a = 10
b = 20
a + b

30

In [ ]:
a = 10
b = 20
a + b - 5

25

# Arithmetic Operators

In [ ]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [ ]:
# The result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor:

10/5

2.0

# Comparison Operators

In [ ]:
a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)


a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

# String Manipulation

In [ ]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)

print('Hacktiv8' + 'PTP')

foobar
foobarbaz
Hacktiv8PTP

In [ ]:
# * Operators
s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [ ]:
# in Operators
s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [ ]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

# Python Lists

In [ ]:
a = ['foo', ' bar', 'baz', 'qux']
print(a)

['foo', ' bar', 'baz', 'qux']

# Lists Are Ordered

In [ ]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

# List Elements Can Be Accessed by Index

In [ ]:
a = [21.42, 'footbar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.42, 'footbar', 3, 4, 'bark', False, 3.14159]

In [ ]:
# perhatikan list berikut ini
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[0])
print(a[5])

foo
corge

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[-1])
print(a[-6])

corge
foo

In [ ]:
# slicing juga bisa digunakan, jika a adalah list, ekspresi a[m:n] mengembalikan porsi a dari indeks m ke n, tetapi tidak termasuk, indeks n:

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:5]

['baz', 'qux', 'quux']

In [ ]:
# the concatenation (+) and replication (*) operators:
print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [ ]:
# len(), min(), max()
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

# Modifying a Single List Value

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [ ]:
# A list item can be deleted with the del command:
del a[3]

In [ ]:
print(a)

['foo', 'bar', 10, 'quux', 20]

# Modifying Multiple List Values

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# Python Tuples

In [ ]:
# Defining and Using Tuples
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [ ]:
print(t[0])
print(t[-1])

foo
corge

In [ ]:
# packing and unpacking
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

# Python Dictionary

In [ ]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners',
}

print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB_team['Toronto']

Twins
Rockies

In [ ]:
# Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [ ]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [ ]:
# To delete an entry, use the del statement, specifying the key to delete:

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [ ]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [ ]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [ ]:
{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [ ]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [ ]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [ ]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [ ]:
# Built-in Methods
d = {'a':10, 'b':20, 'c':30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

# Line Continuation

In [ ]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

# Using Library

In [ ]:
conda install pandas
import pandas as pd
import numpy as np

SyntaxError: invalid syntax (2216758433.py, line 1)

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
data = pd.DataFrame(data=np.array([[1,2,3], [4,5,6]], dtype=int), columns=['A','B','C'])
data

   A  B  C
0  1  2  3
1  4  5  6

# Using LaTex

In [ ]:
from IPython.display import display, Math, Latex
display(Math(r'\sqrt{a^2 + b^2}'))

# Executing Shell Command

In [ ]:
!echo 'Halo Kode'

'Halo Kode'

# Pass Value to and from shell

In [ ]:
files = !ls
print(files)

["'ls' is not recognized as an internal or external command,", 'operable program or batch file.']

In [ ]:
import matplotlib as ls

In [ ]:
files = !ls
print(files)

["'ls' is not recognized as an internal or external command,", 'operable program or batch file.']